@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nimbus";
  src:
    url("/fonts/NimbusRomNo9L-Med.otf") format("otf"),
    url("/fonts/NimbusRomNo9L-MedIta.otf") format("otf"),
    url("/fonts/NimbusRomNo9L-Reg.otf") format("otf"),
    url("/fonts/NimbusRomNo9L-RegIta.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

body {
  color: #fafafa;
  background: #121212;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-gutter: auto !important;
}

.page-container {
  @apply py-6 px-2 sm:px-4 md:px-6;
}

.navlink {
  @apply btn btn-ghost normal-case text-lg;
}

.navlink-active {
  @apply text-white font-bold;
}

.field-title {
  @apply font-medium text-lg;
}

.field-subtitle {
  @apply text-gray-500 text-sm;
}

.empty-box {
  @apply px-6 py-8 border-2 border-dashed border-secondary space-y-2 text-center w-fit justify-self-center rounded-md;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

input[type="range"]::-ms-thumb {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.react-datepicker-wrapper {
  width: 100% !important;
}
.react-datepicker__input-container {
  width: 100% !important;
}
