@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nimbus";
  src: url("/fonts/NimbusRomNo9L-Med.otf") format("otf"),
    url("/fonts/NimbusRomNo9L-MedIta.otf") format("otf"),
    url("/fonts/NimbusRomNo9L-Reg.otf") format("otf"),
    url("/fonts/NimbusRomNo9L-RegIta.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-gutter: auto !important;
}

.navlink {
  @apply btn btn-ghost normal-case text-lg;
}

.navlink-active {
  @apply text-white font-bold;
}